{% extends "base.html" %}
{% block title %}hey friend {% endblock %}

{% block content %}

<div class="container submit-ct">
    <div class="center" style="padding-top:20px">
        <h2>Paste or upload the ciphertext:</h2>
    </div>
    <div class="inClass">
        <textarea type="text" id="ct" name="ct"></textarea>
    </div>
    <div class ="inClass">
        <div class="sbm">
            <div class="row">
                <div class="col-lg uplBtn">
                    <form action="/upload-image" method="POST" enctype="multipart/form-data">
                        <label class="custom-file-upload">
                            <input type="file" accept=".txt" class="file" name="fileUp" id="fileUp">
                            Custom Upload
                        </label>
                    </form>
                </div>
                <div class="col-lg">
                    <div class="col-lg"><button type="button" class="btn btn-primary button-submit-ct" style="width:100%">Submit</button></div>
                </div>
            </div>
            
        </div>
    </div>
</div>

<div class="container main">
    <div class="row">
        <div class="col-md-2 key col-test">
            <div class="row keyButtons">
                    <table id="keyHere">
                        
                    </table>
                    <button type="button" class="btn btn-primary button-submit-key">Submit Key</button>
                    <button type="button" class="btn btn-primary button-submit-swap">Swap by Freq</button>
                    <button type="button" class="btn btn-danger button-submit-reset">Reset Key</button>
            </div>
        </div>
        <div class="col-md-5 col-test twoTexts">
            <div class="col">
                <div class="row-sm">
                    <h2>Modified</h2>
                    <textarea type="text" id="modified"></textarea>
                </div>
                <div class="row-sm original" style="margin-top: 5px">
                    <h2>Original</h2>
                    <textarea type="text" id="original"></textarea>
                </div>
            </div>
        </div>
        <div class="col-md-5 attacks col-test">
          sus lol
        </div>
      </div>
</div>




{% endblock %}