{% extends "base.html" %}
{% block title %}SubCipher{% endblock %}
{% block content %}

<!-- Submitting ciphertext -->
<div class="container submit-ct">
    <div class="center" style="padding-top:20px">
        <h2>Paste or upload the ciphertext:</h2>
    </div>
    <div style="padding-top:20px">
        <textarea type="text" id="ct" name="ct"></textarea>
    </div>
    <div style="padding-top:20px">
        <div class="sbm">
            <div class="row">
                <div class="col-lg uplBtn">
                    <form action="/upload-image" method="POST" enctype="multipart/form-data">
                        <label class="custom-file-upload">
                            <input type="file" accept=".txt" class="file" name="fileUp" id="fileUp">
                            Custom Upload
                        </label>
                    </form>
                </div>
                <div class="col-lg">
                    <div class="col-lg"><button type="button" class="btn btn-primary button-submit-ct" style="width:100%">Submit</button></div>
                </div>
            </div>
            
        </div>
    </div>
</div>

<!-- Main Program -->
<div class="container main">
    <div class="row">

        <!-- first column (key) -->
        <div class="col-md-3 key">
            <div class="row keyButtons">
                    <table id="keyHere"></table>
                    <button type="button" class="btn btn-primary button-submit-key">Submit Key</button>
                    <button type="button" class="btn btn-primary button-submit-swap">Swap by Freq</button>
                    <button type="button" class="btn btn-danger button-submit-reset">Reset Key</button>
            </div>
        </div>

        <!-- second column (modified and original texts) -->
        <div class="col-md-6 twoTexts">
            <div class="col">
                <div class="row-sm">
                    <h2>Modified</h2>
                    <textarea type="text" id="modified" readonly></textarea>
                </div>
                <div class="row-sm original" style="margin-top: 5px">
                    <h2>Original</h2>
                    <textarea type="text" id="original" readonly></textarea>
                </div>
            </div>
        </div>

        <!-- third column (attacks) -->
        <div class="col-md-3 attacks">
            <div id="letterFreq">
                <label>
                    <button type="button" class="btn btn-primary" id="subLenSS" style="margin-bottom:5px">Generate</button>
                    Substrings of length:
                    <input type="number" min="1" id="lenSS" value="1" size="3">
                    or
                </label>
                <br>
                <label style="margin-top:10px">
                    <button type="button" class="btn btn-primary" id="subDupSS">Generate</button>
                    all duplicate substrings
                </label>
                <table id="engAttackTable"></table>
            </div>
        </div>

    </div>
</div>

{% endblock %}
