.nav-link {
    animation-duration: 2s;
    font-size: 30px;
    color: #111111;
}
.nav-link:hover {
    color: #888888
}
.center {
    text-align: center;
}
#ct {
    width: 60%;
    margin: auto;
    display: block;
    height: 40vh;
    overflow: auto;
}
.sbm {
    width: 60%;
    margin: auto;
    display: block;
}
input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
    background-color: #ddd;
    text-align: center;
}
.main{
    margin-top: 20px;
    display: none;
    border: 1px solid black;
    background: #DEDEDE;
    border-radius: 10px;
}
.main div {
    padding: 10px;
}

.keyButtons button{
    margin-top: 10px;
}
.twoTexts textarea{
    overflow: auto;
    width: 90%;
    min-height: 30vh;
}
input[type='number']{
    width: 60px;
} 
#engAttacks {
    overflow: auto;
    width: 90%;
    min-height: 30vh;
}
.navbar {
    background: #A9A9A9;
}
body {
    background: #EFEFEF;
}
textarea {
    background: #FFFAFA;
}
.tooltip-container{
    color: blue;
}
.tooltip-container:hover{
    cursor: pointer;
}
.invis {
    margin-top: 10px;
    border: 1px solid black;
    padding: 10px;
    background: #DEDEDE;
    border-radius: 10px;
    display: none;
}